*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}


/*弹窗*/
.black_overlay{

    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=88);
}
.Message_content {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    position: absolute;
    border: 10px solid #584b00;
    border-radius:20px;
    z-index:1002;
    overflow: auto;
}
/*弹窗over*/

.left{
    height: 30px;
    font-family: 黑体;
}
.center{

}

body{
    background-image: url("../../resource/image/007.jpg") ;
    background-size: cover;
}
